body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    font-family: Counter-Strike, Arial;
}

#title-container {
    text-align: center;
    color: var(--text);
    width: 1000px;
}

#title-link {
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    font-size: 24px;
}

#title {
    font-size: 64px;
    margin: 20px 0 0;
}

#start-btn {
    font-size: 50px;
    width: 140px;
    height: 50px;
    margin-top: 50px;
    font-family: Counter-Strike;
    background-color: var(--text);
    color: var(--background);
    border: 0;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s;
}
#start-btn:hover {
    font-size: 60px;
    width: 170px;
    height: 60px;
    margin-top: 40px;
    box-shadow: 0 0 40px var(--glow);
}

#cs-img {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 200px;
    box-shadow: 0 0 50px var(--glow);
}