@font-face {
    font-family: Counter-Strike;
    src: url(cs_regular_font.ttf);
}

:root {
    --glow: #ff9900;
    --background: #242424;
    --transparant-bg: #242424ab;
    --text: #dadada;
    --red: #b00000;
}

body {
    font-family: Counter-Strike, Arial;
}