:root {
    --secondary-bg: #313033;
    --secondary-text: #aeaaae;
    --dark-glow: #ff990050;
    --hover: #101010;
    --menuBtn-hover: #606060;
    --block-bg: #959595;
    --block-border: #7d4b01;
}

body {
    margin: 0;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit {
    position: fixed;
    top: 20px;
    left: 50px;
    color: var(--text);
    font-size: 30px;
    text-decoration: none;
}
.exit-arrow {
    position: relative;
    top: 3px;
    font-size: 40px;
}
.exit:hover {
    color: var(--glow);
}
@media (min-width: 801px) {
    .exit:hover  {
        .exit-arrow {
            right: 20px;
        }
    }
}

main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
@media (min-width: 1000px) {
    main {
        width: 500px;
    }
}
main * {
    margin: 0;
}

.headline {
    margin: 55px 0 20px;
    font-size: 50px;
    color: var(--text);
}

.section {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: var(--block-bg);
    border: 3px solid var(--block-border);
    border-radius: 12px;
    font-size: 40px;
}

@media (max-width: 800px) {
    .exit {
        left: 20px;
        font-size: 25px;
    }
    .exit-arrow {
        font-size: 35px;
    }
}

@media (max-width: 600px) {
    .exit {
        text-decoration: underline;
    }
    .exit-arrow {
        display: none;
    }
    body {
        justify-content: right;
    }
    main {
        margin-right: 30px;
        width: calc(100% - 140px);
    }
}

@media (max-width: 450px) {
    body {
        justify-content: space-around;
    }
    main {
        width: calc(100% - 70px);
        margin: 0;
    }
    .header {
        position: fixed;
        background-color: var(--background);
        width: calc(100%);
        border-bottom: 3px solid var(--block-border);
        z-index: 100;
        display: flex;
        justify-content: center;
    }
    .header + .section {
        margin-top: 130px;
    }
    .section {
        font-size: 25px;
        flex-wrap: wrap;
        height: 60px;
        overflow: hidden;
    }
    .header + .section {
        overflow: visible;
    }
    .headline {
        font-size: 35px;
    }
}