:root {
    --secondary-bg: #313033;
    --secondary-text: #aeaaae;
    --dark-glow: #ff990050;
    --dark-bg: #1c1c1c;
    --block-bg: #6e6e6e;
    --block-border: #7d4b01;
}

body {
    margin: 0;
    background-color: var(--background);
    font-family: Counter-Strike;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit {
    position: fixed;
    top: 20px;
    left: 50px;
    color: var(--text);
    font-size: 30px;
    text-decoration: none;
}
.exit-arrow {
    position: relative;
    top: 3px;
    font-size: 40px;
}

.exit:hover  {
    color: var(--glow);
    .exit-arrow {
        right: 20px;
    }
}

main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
@media (min-width: 1000px) {
    main {
        width: 500px;
    }
}
main * {
    margin: 0;
}

.headline {
    margin: 50px 0 20px;
    font-size: 50px;
    color: var(--text);
}

.section {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: var(--block-bg);
    border: 3px solid var(--block-border);
    border-radius: 12px;
    font-size: 40px;
}