.menu-section {
    padding: 0 !important;
    height: auto;
    width: calc(100% + 20px);
    display: flex;
    flex-direction: column;
}

#menuBtn {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    padding: 3px 10px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}
#menuBtn:hover {
    background-color: var(--secondary-bg);
}
#menuBtn:active {
    background-color: var(--dark-glow);
    opacity: 0.5;
}

.text > h1 {
    font-size: 35px;
    font-weight: 200;
    margin-top: 4px;
}
.text > h2 {
    font-size: 20px;
    font-weight: 200;
}

.icon {
    position: relative;
    top: 10px;
}

#weaponsMenu {
    
}