#resetBtn {
    --red: #b00000;
    background-color: transparent;
    color: var(--red);
    border: 4px solid var(--red);
    border-radius: 12px;
    font-size: 30px;
    font-family: Counter-Strike;
    width: 300px;
    height: 50px;
    margin: 50px 0 50px;
    cursor: pointer;
    transition: 0.2s;
}
#resetBtn:hover {
    background-color: var(--red);
    color: var(--text);
}
#resetBtn:active {
    opacity: 0.7;
}

@media (max-width: 450px) {
    #resetBtn {
        width: 200px;
        height: 40px;
        font-size: 20px;
        margin-top: 20px;
    }
}
@media (max-width: 300px) {
    #resetBtn {
        width: 150px;
        height: 50px;
        font-size: 20px;
    }
}