.menu-section {
    padding: 0 !important;
    height: auto;
    width: calc(100% + 20px);
    display: flex;
    flex-direction: column;
}

#menuBtn {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    min-height: 60px;
    padding: 3px 10px 0;
    border-radius: 10px;
    gap: 20px;
    cursor: pointer;
    transition: .2s;
}
#menuBtn:hover {
    background-color: var(--secondary-bg);
}
#menuBtn:active {
    background-color: var(--dark-bg);
}

.text > h1 {
    font-size: 35px;
    font-weight: 200;
    margin-top: 4px;
    border-bottom: 2px solid black;
}
.text > h2 {
    font-size: 25px;
    font-weight: 200;
    margin: 5px 0;
    line-height: 30px;
}

.icon {
    position: relative;
    top: 10px;
}

#weaponsMenu {
    width: 90%;
    display: none;
}

.category {
    margin: 20px 0;
}
.category-head {
    border-bottom: 5px solid var(--background);
    align-items: end;
}
.item {
    border-bottom: 2px solid var(--background);
}
.category-head,
.item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    gap: 10px;
}

.category-name {
    font-size: 50px;
}
.item-name {
    font-size: 30px;
}
.category-name,
.item-name {
    align-self: end;
}

/*--------------------------- Copied from W3 schools */
.container {
    display: block; 
    position: relative;
    padding-left: 25px;
    height: 25px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}
.container input {
    display: none;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: var(--secondary-bg);
}
.container:hover input ~ .checkmark {
    background-color: var(--dark-bg);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--glow);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
/*---------------------------*/

.category-head .container {
    padding-left: 35px;
}
.category-head .checkmark {
    top: -10px;
    width: 35px;
    height: 35px;
}
.category-head .checkmark:after {
    left: 12px;
    top: 5px;
    width: 8px;
    height: 17px;
    border-width: 0 4px 4px 0;
}


@media (max-width: 800px) {
    .text > h2 {
        font-size: 16px;
        line-height: 20px;
    }
    .category-name {
        font-size: 36px;
    }
    .item-name {
        font-size: 24px;
    }
    .item {
        padding: 5px;
    }
}
@media (max-width: 450px) {
    .text > h1 {
        font-size: 25px;
    }
    .category-name {
        font-size: 25px;
    }
    .item-name {
        font-size: 18px;
    }
    .category-head .container {
        padding-left: 30px;
    }
    .category-head .checkmark {
        top: 0px;
        width: 25px;
        height: 25px;
    }
    .category-head .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border-width: 0 3px 3px 0;
    }
    .category-head,
    .item {
        flex-wrap: wrap;
    }
}